/*

Colors
-------------------
link: #249eec
visited: #8eccf5
text: #444
light text: #a5a4a4
*/

/* Hide it */
.sr-list,
#sr-more-link,
.goldvertisement,
.sidecontentbox,
#ad_main,
.listing-chooser,
.trending-subreddits {
  display: none !important;
}

body {
  margin: 10px 5% !important;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif !important;
  background-color: #fff !important;
  background-image: none !important;
}

body > .content {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

textarea {
  background-color: #fcfcfc !important;
  border-color: #ccc !important;
  border-radius: 3px !important;
}

#sr-header-area {
  margin-bottom: 10px;
  text-transform: lowercase !important;
  background-color: #fff !important;
  border-bottom: 0 !important;
}

#sr-header-area .srdrop {
  font-size: 12px !important;
  border-color: #ccc !important;
}

#sr-header-area .srdrop a {
  padding: 4px 10px !important;
  color: #249eec !important;
}

.srdrop .choice.bottom-option {
  border-top: solid 1px #ccc !important;
}

#sr-header-area .title {
  font-size: 14px !important;
}

#siteTable {
  margin-top: 20px !important;
}

/* Site header */
#header {
  height: auto !important;
  margin-bottom: 12px !important;
  background-color: transparent !important;
  background-image: none !important;
  border-bottom: 0 !important;
}

/* Show default logo instead of custom one */
#header-img {
  position: relative !important;
  top: auto !important;
  display: inline-block !important;
  width: 120px !important;
  height: 40px !important;
  margin-right: 0 !important;
  margin-bottom: 3px !important;
  text-indent: -9999px !important;
  visibility: visible !important;
  content: url() !important;
  background-image: url(https://www.redditstatic.com/about/assets/reddit-logo.png) !important;
  background-repeat: no-repeat !important;
  background-position: 0 0 !important;
  background-size: 120px 40px !important;
}

#header-img-a {
  display: inline-block !important;
  vertical-align: bottom !important;
}

#header .tabmenu {
  display: none !important;
}

#header-bottom-left {
  position: relative !important;
  display: inline-block;
  height: 45px !important;
  padding-top: 0 !important;
  font-size: 12px !important;
  line-height: normal !important;
  background-image: none !important;
}

#header-bottom-left .pagename {
  position: relative !important;
  top: 2px !important;
  left: 0 !important;
  height: 45px !important;
  margin-top: 0 !important;
  font-size: 22px !important;
  font-weight: normal !important;
  font-variant: normal !important;
  color: #999 !important;
  text-transform: lowercase !important;
}

#header-bottom-left .pagename a {
  height: 25px !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  font-size: 22px !important;
  font-weight: normal !important;
  vertical-align: baseline !important;
}

span[class="hover pagename redditname"] a {
  opacity: 1 !important;
}

#header-bottom-left .pagename a {
  color: #999 !important;
  background-image: none !important;
}

#header-bottom-right {
  position: absolute !important;
  top: -1px !important;
  right: 0 !important;
  display: inline-block !important;
  font-size: 14px !important;
  text-align: right !important;
  background-color: transparent !important;
  border: 0 !important;
}

#header-bottom-right a {
  color: #249eec !important;
}

.logout {
  margin-left: 12px !important;
}

#header-bottom-right .separator,
#mail,
.pref-lang {
  display: none !important;
}

/* Get search box out of sidebar */
.side {
  float: none !important;
  width: 100% !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.side > .spacer {
  display: none !important;
  margin: 0 !important;
}

.side > .spacer:first-child {
  display: block !important;
  height: 0 !important;
  padding: 0 !important;
}

#search {
  position: relative !important;
  z-index: 100 !important;
  float: right !important;
  width: 33% !important;
  margin-top: -45px !important;
}

#search input[type=text] {
  width: 100% !important;
  padding: 6px 25px 6px 6px !important;
  font-size: 13px !important;
  color: #333 !important;
  background-color: #fcfcfc !important;
  background-image: none !important;
  border-color: #ccc !important;
  border-radius: 3px !important;
}

/* Advanced search box */
.infobar {
  background-color: #f1f7fd !important;
  border-color: #cee3f8 !important;
}

/* Listings */
.listing-page .link {
  padding: 0 !important;
  border-bottom: 0 !important;
}

.linkflair-amas {
  background-color: inherit !important;
}

.link.last-clicked {
  background-color: inherit !important;
}

.entry {
  margin-bottom: 15px !important;
  line-height: 1.4 !important;
}

.thumbnail {
  float: right !important;
}

.title,
.thing .title {
  font-size: 18px !important;
  color: #249eec !important;
}

.title:visited {
  color: #8eccf5 !important;
}

.domain {
  display: none !important;
}

.tagline {
  font-size: 14px !important;
  color: #a5a4a4 !important;
}

.tagline a.author {
  margin-right: 0 !important;
  color: #a5a4a4 !important;
}

.tagline a.author:hover {
  color: #222 !important;
}

.flair-sc {
  margin-left: 3px !important;
}

.tagline a.subreddit {
  color: #249eec !important;
}

.flat-list {
  font-size: 12px !important;
}

.flat-list a.comments {
  font-weight: normal !important;
  color: #a5a4a4 !important;
}

.last-clicked {
  border: 0 !important;
}

.thumbnail,
.expando-button,
.rank,
.linkflairlabel,
.share,
.link-save-button,
.link-save-button + li,
.report-button {
  display: none !important;
}

/* Voting controls */
.link .midcol {
  margin-top: 4px !important;
}

.link .score {
  margin-top: 2px !important;
  font-size: 14px !important;
  font-weight: normal !important;
  color: #6f7c82 !important;
}

.arrow {
  background-position: 0 0 !important;
  background-size: 14px 15px !important;
}

.arrow.up {
  background-image: url(http://jasonlong.github.io/reddit-tighty-whities/images/vote-up.png) !important;
}

.arrow.down {
  background-image: url(http://jasonlong.github.io/reddit-tighty-whities/images/vote-down.png) !important;
}

.arrow.upmod {
  background-image: url(http://jasonlong.github.io/reddit-tighty-whities/images/vote-up-active.png) !important;
}

.arrow.downmod {
  background-image: url(http://jasonlong.github.io/reddit-tighty-whities/images/vote-down-active.png) !important;
}
/* Posts */
.usertext-body {
  font-size: 15px !important;
}

.usertext-body .md {
  padding: 0 !important;
  color: #444 !important;
  background-color: #fff !important;
  border: 0 !important;
}

div.thing.link {
  padding: 0 !important;
  border-bottom: 0 !important;
}

.panestack-title {
  padding-top: 12px !important;
  margin-right: 0 !important;
  border-top: solid 1px #ddd !important;
  border-bottom: 0 !important;
}

.panestack-title .title {
  font-size: 14px !important;
}

/* Comments */
.morecomments a {
  font-size: 12px !important;
}

/* New comments */
.comment-visits-box {
  padding: 0 !important;
  margin-bottom: 30px !important;
  margin-left: 10px !important;
  background-color: #fff !important;
  border: 0 !important;
}

.comment-visits-box .title {
  font-size: 14px !important;
  font-weight: normal !important;
  color: #ff4500 !important;
}

.new-comment .usertext-body {
  padding: 0 !important;
  border: 0 !important;
}

.new-comment .usertext-body .md {
  color: #ff4500 !important;
}
