/* Hide it */
.sr-list,
#sr-more-link,
.goldvertisement,
.sidecontentbox,
#ad_main,
.listing-chooser,
.trending-subreddits {
    display: none !important;
}

body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif !important;
	margin: 10px 5%;
}

body > .content {
    margin-left: 0 !important;
}

textarea {
    border-radius: 3px !important;
    border-color: #ccc !important;
    background-color: #fcfcfc !important;
}

#sr-header-area {
    margin-bottom: 10px;
    background-color: #fff !important;
    border-bottom: 0 !important;
    text-transform: lowercase !important;
}

#sr-header-area .srdrop {
    border-color: #ccc !important;
	font-size: 12px !important;    
}

#sr-header-area .srdrop a {
    padding: 4px 10px !important;    
    color: #0081CB !important;
}

.srdrop .choice.bottom-option {
    border-top: solid 1px #ccc !important;
}

#sr-header-area .title {
	font-size: 14px !important;
}

#siteTable {
    margin-top: 20px !important;
}

/* Site header */
#header {
    margin-bottom: 12px !important;
    background-color: transparent !important;
    border-bottom: 0 !important;
}

#header-img {
    margin-right: 0;
}

#header .tabmenu {
    display: none !important;
}

#header-bottom-left .pagename {
    font-variant: normal !important;
    text-transform: lowercase !important;
    font-size: 22px !important;
    font-weight: normal !important;
    color: #999;    
}

#header-bottom-left .pagename:before {
    content: '/r/';
}

#header-bottom-left .pagename a {
    color: #333;
}

#header-bottom-right {
    display: inline-block;
    position: absolute !important;
    top: -1px !important;
    right: 0;
    text-align: right;
    background-color: transparent !important;
    font-size: 14px !important;
}

.logout {
    margin-left: 12px !important;
}

#header-bottom-right .separator,
#mail,
.pref-lang {
    display: none;
}

/* Get search box out of sidebar */
.side {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
}

.side > .spacer {
    display: none !important;
}

.side > .spacer:first-child {
    display: block !important;
}

#search {
    float: right;
    width: 33%;
    margin-top: -45px;
    position: relative;
    z-index: 100;
}

#search input[type=text] {
    width: 100% !important;
    border-radius: 3px !important;
    border-color: #ccc !important;
    background-color: #fcfcfc !important;
}

/* Advanced search box */
.infobar {
    background-color: #f1f7fd !important;
    border-color: #cee3f8 !important;
}

/* Listings */
.entry {
    min-height: 70px !important;
    margin-bottom: 15px !important;
    line-height: 1.4 !important;
}

.thumbnail {
    float: right;
}

.title {
    font-size: 18px !important;
    color: #0081CB !important;
}

.title:visited {
    color: #7fc0e5 !important;
}

.tagline {
    font-size: 14px !important;
    color: #6f7c82 !important;
}

.tagline a.author {
    margin-right: 0 !important;
    color: #292e31 !important;    
}

.tagline a.subreddit {
    color: #0081CB !important;    
}

.flat-list {
    font-size: 12px !important;
}

.flat-list a.comments {
    color: #292e31 !important;    
    font-weight: normal !important;
}

.last-clicked {
    border: 0 !important;
}

.thumbnail,
.expando-button,
.rank,
.linkflairlabel,
.share,
.link-save-button,
.link-save-button + li,
.report-button {
    display: none !important;
}

/* Posts */
.usertext-body {
    font-size: 15px !important;
}

.usertext-body .md {
    border: 0 !important;
    background-color: #fff !important;
    padding: 0 !important;
    color: #333;
}

.panestack-title {
    margin-right: 0 !important;
    padding-top: 12px !important;
	border-top: solid 1px #ddd !important;
    border-bottom: 0 !important;
}

.panestack-title .title {
    font-size: 14px !important;
}

/* New comments */
.comment-visits-box {
    background-color: #fff !important;
    border: 0 !important;
    padding: 0 !important;
    margin-bottom: 30px !important;
    margin-left: 10px !important;
}

.comment-visits-box .title {
    font-size: 14px !important;
    font-weight: normal !important;
    color: #ff4500 !important;
}

.new-comment .usertext-body {
	padding: 0 !important;
    border: 0 !important;
}

.new-comment .usertext-body .md {
    color: #ff4500 !important;
}
